.u-section-1 .u-sheet-1 {
  min-height: 400px;
}@font-face {
  font-family: 'KumbhSans-VariableFont_YOPQwght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KumbhSans-VariableFont_YOPQwght.ttf);
}